Repository PingCAP-QE/ee-ops, pull requests merged in 2023-11, with the labels that each got.

#752 feat(apps/prod/tekton/configs/triggers): fix trigger resources
  apps/prod/tekton/configs/triggers/bindings/github-branch-push.yaml
  apps/prod/tekton/configs/triggers/event-listeners/event-listener.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/push-build.yaml
  apps/prod/tekton/configs/triggers/test.http
Labels: approved, size/M, env/prod, area/apps

#753 Debug/tikv-pd-build
  apps/prod/tekton/configs/pipelines/kustomization.yaml
  apps/prod/tekton/configs/pipelines/push-tikv-pd-build.yaml
  apps/prod/tekton/configs/tasks/create-pr-to-sync-owners.yaml
  apps/prod/tekton/configs/tasks/gen-build-binaries-scripts.yaml
  apps/prod/tekton/configs/tasks/gen-build-images-scripts.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/run-build-binaries-scripts.yaml
  apps/prod/tekton/configs/tasks/run-build-images-scripts.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/push-build.yaml
Labels: approved, size/XL, env/prod, area/apps

#757 feat(apps/prod/tekton/setup): bump tekton-operator to v0.56.0
  apps/prod/tekton/setup/operator-config.yaml
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/L, env/prod, area/apps

#760 feat(apps/prod/tekton/setup): bump tekton-operator to v0.57.0
  apps/prod/tekton/setup/kustomization.yaml
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#761 feat(apps/prod/tekton/setup): bump tekton-operator to v0.58.0
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#764 feat(apps/prod/tekton/setup): bump tekton-operator to v0.59.0
  apps/prod/tekton/setup/kustomization.yaml
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#765 feat(apps/prod/tekton/setup): bump tekton-operator to v0.60.0
  apps/prod/tekton/setup/kustomization.yaml
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/L, env/prod, area/apps

#766 feat(apps/prod/tekton/setup): bump tekton-operator to v0.60.1
  apps/prod/tekton/setup/kustomization.yaml
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#767 feat(apps/prod/tekton): add tekton results instances
  apps/prod/tekton/setup.yaml
  apps/prod/tekton/setup/kustomization.yaml
  apps/prod/tekton/setup/results/db-secret.yaml
  apps/prod/tekton/setup/results/kustomization.yaml
  apps/prod/tekton/setup/results/operator-tekton-result.yaml
  apps/prod/tekton/setup/results/progres-release.yaml
  apps/prod/tekton/setup/results/tls-cert.yaml
  infrastructure/_base/sources/helm-repo-others.yaml
  infrastructure/_base/sources/kustomization.yaml
  infrastructure/prod/kustomization.yaml
  infrastructure/prod/secret-generator/kustomization.yaml
  infrastructure/prod/secret-generator/namespace.yaml
  infrastructure/prod/secret-generator/release.yaml
Labels: approved, size/L, env/prod, area/apps, area/infrastructure

#771 feat(apps/prod/tekton/configs): add triggers for tikv,tidb,tiflash,tiflow compoents
  apps/prod/tekton/configs/pipelines/kustomization.yaml
  apps/prod/tekton/configs/pipelines/push-build-package.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflash/push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflow/push.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/push.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/tikv/push.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/push.yaml
Labels: approved, size/XL, env/prod, area/apps

#772 feat(apps/prod/tekton/configs/triggers/templates): increase size for `source` workspace
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflash/push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflow/push.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/push.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/tikv/push.yaml
Labels: approved, size/S, env/prod, area/apps

#774 fix(apps/prod/tekton/configs): fix git clone steps
  apps/prod/tekton/configs/pipelines/push-build-package.yaml
  apps/prod/tekton/configs/tasks/git-clone.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/push.yaml
  apps/prod/tekton/configs/triggers/test.http
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
Labels: approved, size/M, env/prod, area/apps

#780 feat: support env/builder/image
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#779 fix(apps/proc/jenkins): add node affinity
  apps/prod/jenkins/post/_base/cronjob-go-caches.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#784 fix(apps/prod/tekton/configs/tasks): fix task `pingcap-build-binaries`
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
Labels: approved, size/S, env/prod, area/apps

#785 feat(apps/prod): add boskos to support acquire and release mac builder resources
  apps/prod/boskos/README.md
  apps/prod/boskos/base/cleaner/deployment.yaml
  apps/prod/boskos/base/cleaner/kustomization.yaml
  apps/prod/boskos/base/cleaner/rbac.yaml
  apps/prod/boskos/base/crd.yaml
  apps/prod/boskos/base/deployment.yaml
  apps/prod/boskos/base/janitor/README.md
  apps/prod/boskos/base/janitor/deployment.yaml
  apps/prod/boskos/base/janitor/kustomization.yaml
  apps/prod/boskos/base/janitor/serviceaccount.yaml
  apps/prod/boskos/base/kustomization.yaml
  apps/prod/boskos/base/rbac.yaml
  apps/prod/boskos/base/reaper/README.md
  apps/prod/boskos/base/reaper/deployment.yaml
  apps/prod/boskos/base/reaper/kustomization.yaml
  apps/prod/boskos/base/service.yaml
  apps/prod/boskos/boskos-resources.yaml
  apps/prod/boskos/kustomization.yaml
  apps/prod/boskos/overlays/mac-machine-janitor/kustomization.yaml
  apps/prod/boskos/overlays/mac-machine-reaper/kustomization.yaml
  apps/prod/kustomization.yaml
Labels: approved, size/XXL, env/prod, area/apps

#792 Fix/mac-tidb-builds
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflow/push.yaml
  apps/prod/tekton/configs/triggers/test.http
Labels: approved, size/S, env/prod, area/apps

#794 fix(apps/prod/tekton/configs/triggers): support mac builds for tiflash
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflash/push.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/tikv/push.yaml
  apps/prod/tekton/configs/triggers/test.http
Labels: approved, size/S, env/prod, area/apps

#795 chore(apps/prod/tekton/configs): debug for tiflash, tidb, tiflow on mac arm target building
  apps/prod/boskos/boskos-resources.yaml
  apps/prod/tekton/configs/pipelines/push-build-package.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflash/push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflow/push.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/push.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/tikv/push.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
Labels: approved, size/M, env/prod, area/apps

#796 feat(apps/prod/tekton/configs): add build flow for `pingcap/advanced-statefulset`
  apps/prod/tekton/configs/pipelines/push-build-package.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/advanced-statefulset/push.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/push.yaml
Labels: approved, size/L, env/prod, area/apps

#800 fix(apps/prod/tekton/configs): fix tiflash pipelineRun builder images
  apps/prod/tekton/configs/pipelines/push-build-package.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflash/push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflow/push.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/push.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/tikv/push.yaml
  apps/prod/tekton/configs/triggers/test.http
Labels: approved, size/XL, env/prod, area/apps

#803 feat(apps/prod/tekton/configs): support tag multi-arch image
  apps/prod/tekton/configs/pipelines/auto-compose-multi-arch-image.yaml
  apps/prod/tekton/configs/pipelines/kustomization.yaml
  apps/prod/tekton/configs/tasks/gen-build-binaries-scripts.yaml
  apps/prod/tekton/configs/tasks/gen-build-images-scripts.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/multi-arch-image-pre-collect.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
  apps/prod/tekton/configs/tasks/run-build-binaries-scripts.yaml
  apps/prod/tekton/configs/triggers/bindings/harbor-image-push.yaml
  apps/prod/tekton/configs/triggers/event-listeners/event-listener.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/advanced-statefulset/image-push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/advanced-statefulset/push.yaml
  apps/prod/tekton/configs/triggers/test.http
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/image-push.yaml
Labels: approved, size/XL, env/prod, area/apps

#804 chore(apps/prod/tekton/setup): bump tekton operator to v0.61.0
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#805 Revert "chore(apps/prod/tekton/setup): bump tekton operator to v0.61.…
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#806 feat(apps/prod/tekton/configs): support auto compose multi arch images
  apps/prod/tekton/configs/pipelines/auto-compose-multi-arch-image.yaml
  apps/prod/tekton/configs/pipelines/push-build-package.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/multi-arch-image-collect.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/image-push.yaml
Labels: approved, size/M, env/prod, area/apps

#807 feat(apps/prod/tekton/configs): add tag event trigger for `pingcap/advanced-statefulset`
  apps/prod/tekton/configs/pipelines/push-build-package.yaml
  apps/prod/tekton/configs/triggers/bindings/github-tag-create.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/advanced-statefulset/build.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/build.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/tag-build.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/push.yaml
Labels: approved, size/L, env/prod, area/apps

#808 refactor(apps/prod/tekton/configs): pop the multi arch image collect trigger to top level
  apps/prod/tekton/configs/pipelines/auto-compose-multi-arch-image.yaml
  apps/prod/tekton/configs/tasks/multi-arch-image-collect.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
  apps/prod/tekton/configs/triggers/bindings/github-tag-create.yaml
  apps/prod/tekton/configs/triggers/templates/_/README.md
  apps/prod/tekton/configs/triggers/templates/_/image-push.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/test.http
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-push.yaml
Labels: approved, size/L, env/prod, area/apps

#801 feat(apps/prod/jenkins-beta): add renovate to auto bump jenkins-beta image tag
  apps/prod/jenkins-beta/release/values-controller.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#809 feat: fips feature for tibuild
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#810 fix(apps/prod/tekton/configs/tagsk): fix task `multi-arch-image-collect`
  apps/prod/tekton/configs/tasks/multi-arch-image-collect.yaml
Labels: approved, size/S, env/prod, area/apps
