Repository PingCAP-QE/ee-ops, pull requests merged in 2023-12, with the labels that each got.

#817 fix(apps/prod/tekton/configs): fix tiflash trigger template name
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflash/build.yaml
Labels: approved, size/XS, env/prod, area/apps

#819 feat(charts): add chart `git-cdn`
  charts/git-cdn/.helmignore
  charts/git-cdn/Chart.yaml
  charts/git-cdn/templates/NOTES.txt
  charts/git-cdn/templates/_helpers.tpl
  charts/git-cdn/templates/deployment.yaml
  charts/git-cdn/templates/hpa.yaml
  charts/git-cdn/templates/ingress.yaml
  charts/git-cdn/templates/service.yaml
  charts/git-cdn/templates/serviceaccount.yaml
  charts/git-cdn/templates/tests/test-connection.yaml
  charts/git-cdn/values.yaml
Labels: approved, size/XL, area/charts

#822 feature(apps/prod/tekton/configs): git clone with git-cdn
  .gitignore
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/build.yaml
Labels: approved, size/M, env/prod, area/apps

#823 feature(apps/prod/tekton/configs): git clone with git-cdn service
  apps/prod/tekton/configs/triggers/templates/pingcap/advanced-statefulset/build.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/build.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflash/build.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflow/build.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/build.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/tikv/build.yaml
Labels: approved, size/M, env/prod, area/apps

#824 feat(apps/prod/cloudevents-server): bump to support race field
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#826 feat: tibuild support drainer and pump
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#828 feat(apps/prod/cloudevents-server): bump image tag to `e652158`
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#829 fix(apps/prod/cloudevents-server): bump image tag to `bcd76b2`
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#831 feat(apps/prod/tibuild): bump image tag to `2f9d4cd`
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#832 fix(apps/prod/tibuild): add `tibuild` in kustomization.yaml
  apps/prod/kustomization.yaml
Labels: approved, size/XS, env/prod, area/apps

#833 Update deployment.yaml
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#836 chore(apps/prod/tekton/setup): bump tekton operator to v0.61.0
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#835 feat(apps/prod/tekton): support internal triggers
  apps/gcp/tekton-dev/configs/triggers/event-listener.yaml
  apps/gcp/tekton-dev/ingress/http-routes.yaml
  apps/prod/tekton/configs/triggers/bindings/ce-context.yaml
  apps/prod/tekton/configs/triggers/bindings/kustomization.yaml
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-internal.yaml
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-public.yaml
  apps/prod/tekton/configs/triggers/event-listeners/kustomization.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/build.yaml
  apps/prod/tekton/configs/triggers/test.http
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/fake-git-push.yaml
  apps/prod/tekton/ingress/ingress-event-listener.yaml
  apps/staging/prow/post/configs/plugins.yaml
Labels: approved, size/L, env/GCP, env/prod, env/staging, area/apps

#839 fix(apps/prod/tekton/configs/tasks): fix tasks
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
  apps/prod/tekton/configs/tasks/run-build-images-scripts.yaml
Labels: approved, size/XS, env/prod, area/apps

#840 refactor(apps/prod/tekton/configs): simplify multi arch image collect to tekton task run
  apps/prod/tekton/configs/pipelines/auto-compose-multi-arch-image.yaml
  apps/prod/tekton/configs/pipelines/kustomization.yaml
  apps/prod/tekton/configs/triggers/templates/_/image-push.yaml
Labels: approved, size/M, env/prod, area/apps

#841 chore(apps/prod/tekton/setup): bump tekton operator to v0.62.0
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#842 feat(apps/prod/tekton): support internal triggers for components
  apps/prod/tekton/configs/triggers/bindings/ce-context.yaml
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-internal.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/advanced-statefulset/build.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/build.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflash/build.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflow/build.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/build.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/tikv/build.yaml
  apps/prod/tekton/configs/triggers/test.http
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/fake-git-push.yaml
Labels: approved, size/XL, env/prod, area/apps

#843 feat(apps/prod/tekton/configs): add timeout in acquire mac builder resource task
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/tasks/boskos-acquire.yaml
Labels: approved, size/XS, env/prod, area/apps

#844 chore(apps/prod/tekton/setup): bump tekton operator to v0.63.0
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#845 chore(apps/prod/tekton/setup): bump tekton operator to v0.64.0
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#847 Revert "chore(apps/prod/tekton/setup): bump tekton operator to v0.64.0"
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#848 Revert "chore(apps/prod/tekton/setup): bump tekton operator to v0.65.0"
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#849 Revert "chore(apps/prod/tekton/setup): bump tekton operator to v0.63.0"
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#850 Revert "chore(apps/prod/tekton/setup): bump tekton operator to v0.62.0"
  apps/prod/tekton/setup/operator-release.yaml
Labels: env/prod, area/apps

#852 chore(apps/prod/tekton/setup): bump tekton operator to v0.65.1
  apps/prod/tekton/setup.yaml
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/L, env/prod, area/apps

#853 Revert "chore(apps/prod/tekton/setup): bump tekton operator to v0.65.1"
  apps/prod/tekton/setup.yaml
  apps/prod/tekton/setup/operator-release.yaml
Labels: size/L, env/prod, area/apps

#854 chore(apps/prod/tekton/setup): bump tekton operator to v0.61.0
  apps/prod/tekton/setup/operator-release.yaml
Labels: approved, size/M, env/prod, area/apps

#855 chore(clusters/prod): make gitops git source updating fast
  clusters/prod/flux-system/gotk-sync.yaml
Labels: approved, size/XS

#856 chore(apps/prod): add triggermesh service
  apps/prod/kustomization.yaml
  apps/prod/triggermesh/kustomization.yaml
  apps/prod/triggermesh/triggermesh.yaml
Labels: approved, size/XXL, env/prod, area/apps

#858 Revert "chore(apps/prod/triggermesh): add triggermesh core and broker resource"
  apps/prod/triggermesh/configs.yaml
  apps/prod/triggermesh/configs/broker.yaml
  apps/prod/triggermesh/configs/kustomization.yaml
  apps/prod/triggermesh/kustomization.yaml
  apps/prod/triggermesh/setup.yaml
  apps/prod/triggermesh/setup/kustomization.yaml
  apps/prod/triggermesh/setup/triggermesh-core.yaml
  apps/prod/triggermesh/triggermesh.yaml
Labels: approved, size/XXL, env/prod, area/apps

#859 feat(apps/prod/tekton/configs): add pipeline results for pingcap build
  apps/prod/tekton/configs/pipelines/pingcap-build-package.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
Labels: approved, size/M, env/prod, area/apps

#860 fix(apps/prod/tekton/configs/pipeline): fix task order for `pingcap-build-package-darwin`
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
Labels: approved, size/XS, env/prod, area/apps

#862 feat: deploy tibuild for target image path
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#863 Revert "chore(deps): update docker.io/lachlanevenson/k8s-kubectl docker digest to be98414"
  apps/prod/tekton/configs/tasks/boskos-acquire.yaml
  apps/prod/tekton/configs/tasks/boskos-release.yaml
Labels: approved, size/XS, env/prod, area/apps

#864 feat(apps/prod/dl): init deploy
  apps/prod/dl/kustomization.yaml
  apps/prod/dl/release.yaml
  apps/prod/kustomization.yaml
Labels: approved, size/M, env/prod, area/apps

#865 fix(apps/prod/dl): bump version to support health checks
  apps/prod/dl/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#868 feat(apps/prod/tekton/configs/task): implement merge image tags
  apps/prod/tekton/configs/tasks/multi-arch-image-collect.yaml
Labels: approved, size/XS, env/prod, area/apps

#875 Revert "chore(deps): update dependency blueocean to v1.27.9"
  apps/prod/jenkins-beta/release/values-controller-plugins.yaml
  apps/prod/jenkins/release/values-controller-plugins.yaml
  apps/staging/jenkins/release/values-controller-plugins.yaml
Labels: env/prod, env/staging, area/apps

#879 opt(apps/prod/tekton/configs/tasks): add env var in build step to avoid cargo fetch error
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
Labels: approved, size/XS, env/prod, area/apps

#880 refactor(apps/prod/tekton/configs/tasks): extract the task and make execlude the date tags
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/pingcap-get-release-version.yaml
Labels: approved, size/M, env/prod, area/apps

#887 fix(apps/prod/tekton/configs/tasks): fix task results
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
Labels: approved, size/XS, env/prod, area/apps

#888 fix(apps/prod/cloudevents-server): bump image to `d0148db`
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#889 chore(apps/prod/tekton/setup): increase pruner keep size to 1000
  apps/prod/tekton/setup/operator-config.yaml
Labels: approved, size/XS, env/prod, area/apps

#890 fix(apps/prod/tekton/configs/pipelines): decrease wait time and retry times for require mac resource
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
Labels: approved, size/XS, env/prod, area/apps

#892 feat(apps/prod/tekton/configs): auto release tiup pkg to staging tiup mirror
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
  apps/prod/tekton/configs/triggers/templates/_/artifact-push.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/tests/dev-build.http
  apps/prod/tekton/configs/triggers/tests/harbor.http
  apps/prod/tekton/configs/triggers/tests/test.http
  apps/prod/tekton/configs/triggers/triggers/_/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/git-push.yaml
Labels: approved, size/XL, env/prod, area/apps

#893 feat(apps/prod/tekton/configs): prepare switch nightly build for tiproxy
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/git-push.yaml
Labels: approved, size/L, env/prod, area/apps

#894 Update values-controller-plugins.yaml
  apps/prod/jenkins/release/values-controller-plugins.yaml
Labels: env/prod, area/apps

#895 fix(apps/prod/jenkins/release): fix jenkins log dir
  apps/prod/jenkins/release/values-JCasC.yaml
  apps/prod/jenkins/release/values-controller.yaml
Labels: approved, size/S, env/prod, area/apps

#896 apps/prod/jenkins/release
  apps/prod/jenkins/release/values-controller.yaml
Labels: env/prod, area/apps

#897 Update values-controller-plugins.yaml
  apps/prod/jenkins-beta/release/values-controller-plugins.yaml
Labels: env/prod, area/apps

#670 feat(apps/prod/jenkins): use the image with pre-install plugins
  apps/prod/jenkins/release/values-controller-plugins.yaml
  apps/prod/jenkins/release/values-controller.yaml
Labels: lgtm, approved, size/M, env/prod, area/apps

#898 Revert "fix(apps/prod/jenkins/release): fix jenkins log dir"
  apps/prod/jenkins/release/values-JCasC.yaml
  apps/prod/jenkins/release/values-controller.yaml
Labels: size/S, env/prod, area/apps

#899 disable global plugins jscsc
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: size/L, env/prod, area/apps

#900 Revert "disable global plugins jscsc"
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: env/prod, area/apps

#901 Revert "Revert "disable global plugins jscsc""
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: size/L, env/prod, area/apps

#903 chore(apps/prod/cloudevents-server): bump image tag to `b33e8e2`
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#904 feat(apps/prod/tekton/configs/triggers/pingcap/tidb): add trigger build with enterpriseprofile
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/git-push.yaml
Labels: approved, size/M, env/prod, area/apps

#905 fix(apps/prod/jenkins-beta/release): fix lackness plugin
  apps/prod/jenkins-beta/release/values-controller-plugins.yaml
Labels: approved, size/XS, env/prod, area/apps

#907 feat(apps/prod/tekton/configs/tasks): add `skopeo-copy` task
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/run-build-binaries-scripts.yaml
  apps/prod/tekton/configs/tasks/run-build-images-scripts.yaml
Labels: approved, size/M, env/prod, area/apps

#906 refactor(apps/prod/tekton/configs): auto publish tiup nightly pkgs
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
  apps/prod/tekton/configs/triggers/templates/_/artifact-push.yaml
  apps/prod/tekton/configs/triggers/templates/_/push-oci-artifact-to-tiup.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/_/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
Labels: approved, size/L, env/prod, area/apps

#908 fix(apps/prod/tekton/configs): fix task and trigger for tiup publishing
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
  apps/prod/tekton/configs/triggers/templates/_/push-oci-artifact-to-tiup.yaml
  apps/prod/tekton/configs/triggers/triggers/_/artifact-push-on-harbor.yaml
Labels: approved, size/S, env/prod, area/apps

#909 feat(apps/prod/tekton/configs): auto add `nightly` and `latest` tag for image
  apps/prod/tekton/configs/tasks/add-image-major-tag.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/triggers/templates/_/image-push.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
Labels: approved, size/L, env/prod, area/apps

#911 fix(apps/prod/tekton/configs/triggers): currently we can not support the private repo on build
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
Labels: approved, size/XS, env/prod, area/apps

#910 fix(apps/prod/tekton/configs/triggers): fix trigger for tidb
  apps/prod/tekton/configs/triggers/tests/test.http
  apps/prod/tekton/configs/triggers/triggers/_/git-push-on-trunk-branches.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-push.yaml
Labels: approved, size/M, env/prod, area/apps

#912 chore(apps/prod/tekton/configs/triggers/tests): update http test data
  apps/prod/tekton/configs/triggers/tests/test-6.5-fips.http
Labels: approved, size/XS, env/prod, area/apps
