Repository PingCAP-QE/ee-ops, pull requests merged in 2024-08, with the labels that each got.

#1192 Revert "fix(apps/prod/tekton/configs/tasks): use the mirror registry to download oci files"
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
Labels: approved, size/XS, env/prod, area/apps

#1193 fix(apps/gcp/prow/release): sticky lgtm label for `pingcap/tidb-tools` repo
  apps/gcp/prow/release/release.yaml
Labels: approved, size/S, env/GCP, area/apps

#1194 chore(deps): bump docker images denoland/deno to `1.45.5`
  apps/prod/jenkins/pre/cronjobs.yaml
  apps/prod/tekton/configs/tasks/hotfix/create-pr-to-sync-owners.yaml
  apps/prod/tekton/configs/tasks/release/create-pr-to-add-release-anchor-commit.yaml
  apps/staging/jenkins/pre/obc/cronjobs.yaml
Labels: approved, size/XS, env/prod, env/staging, area/apps

#995 feat: add docs-cn token
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: approved, size/M, env/prod, area/apps

#1198 fix(jenkins/release/jenkins): use another ci cache bucket
  apps/prod/jenkins/pre/cronjobs.yaml
  apps/prod/jenkins/pre/obc/obc.yaml
  apps/prod/jenkins/pre/secret.yaml
Labels: approved, size/S, env/prod, area/apps

#1199 fix(jenkins/release/jenkins): delete obc `ci-pipeline-cache`
  apps/prod/jenkins/pre/obc/obc.yaml
Labels: approved, size/S, env/prod, area/apps

#1200 fix(jenkins/release/jenkins): use offical chart
  apps/prod/jenkins-beta/release/values-controller-plugins.yaml
  apps/prod/jenkins-beta/release/values-controller.yaml
  apps/prod/jenkins/release/namespace-agent.yaml
  apps/prod/jenkins/release/release.yaml
  apps/prod/jenkins/release/values-JCasC.yaml
  apps/prod/jenkins/release/values-agent.yaml
  apps/prod/jenkins/release/values-controller-plugins.yaml
  apps/prod/jenkins/release/values-controller.yaml
  apps/prod/jenkins/release/values-persistence.yaml
  apps/prod/jenkins/release/values-service-account.yaml
Labels: approved, size/L, env/prod, area/apps

#1201 fix(jenkins/release/jenkins): upgrade to jdk17 edition
  apps/prod/jenkins/release/values-controller.yaml
Labels: approved, size/XS, env/prod, area/apps

#1202 fix(jenkins/release/jenkins-beta): upgrade jenkins to v2.440.3
  apps/prod/jenkins-beta/release/release.yaml
  apps/prod/jenkins-beta/release/values-controller-plugins.yaml
  apps/prod/jenkins-beta/release/values-controller.yaml
Labels: approved, size/XS, env/prod, area/apps

#1204 fix(jenkins/release/jenkins): update jenkins to 2.452.3-jdk17
  apps/prod/jenkins/release/release.yaml
  apps/prod/jenkins/release/values-JCasC.yaml
  apps/prod/jenkins/release/values-controller-plugins.yaml
  apps/prod/jenkins/release/values-controller.yaml
Labels: approved, size/M, env/prod, area/apps

#1205 fix(apps/prod/jenkins-beta): overwrite plugins with list in GitOps
  apps/prod/jenkins-beta/release/values-controller-plugins.yaml
Labels: approved, size/XS, env/prod, area/apps

#1206 fix(jenkins/release/jenkins): overwrite plugins with list in GitOps
  apps/prod/jenkins/release/values-controller-plugins.yaml
Labels: approved, size/XS, env/prod, area/apps

#1207 fix(apps/prod/jenkins/post): add jenkins-tikv and jenkins-tiflash namespaces
  apps/prod/jenkins/post/kustomization.yaml
  apps/prod/jenkins/post/tiflash/kustomization.yaml
  apps/prod/jenkins/post/tiflash/namespace.yaml
  apps/prod/jenkins/post/tikv/kustomization.yaml
  apps/prod/jenkins/post/tikv/namespace.yaml
Labels: lgtm, approved, size/M, env/prod, area/apps

#1208 fix(apps/prod/tibuild): bump docker image to v20240228-72-gd319bf4
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1217 chore(apps/gcp/prow): update docker image of cherry-picker plugin to v2.4.4
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1219 fix(apps/prod/kafka): use another ns to create clusters and topics
  apps/prod/kafka/clusters/kustomization.yaml
  apps/prod/kafka/operator-release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1223 chore(apps/prod/tekton/configs/triggers): limit harbor push event resource url
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-internal.yaml
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/_/harbor/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/_/harbor/image-push-on-harbor.yaml
Labels: approved, size/M, env/prod, area/apps

#1226 chore(apps/prod/tekton/configs/triggers): limit oci artifacts push event resource url (#1223)
  apps/prod/tekton/configs/triggers/triggers/_/harbor/artifact-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1232 chore(apps/prod/tekton/configs): increase timeout for tiup publish
  apps/prod/tekton/configs/pipelines/pingcap-release-ga.yaml
  apps/prod/tekton/configs/triggers/templates/_/push-oci-artifact-to-tiup.yaml
Labels: approved, size/XS, env/prod, area/apps

#1233 fix(pingcap/tidb-operator): support wide version tag
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-operator/git-create-tag.yaml
Labels: approved, size/XS, env/prod, area/apps

#1236 fix(apps/gcp/prow/release): bump image tag for needs-rebase plugin and ghproxy service
  apps/gcp/prow/release/release.yaml
Labels: lgtm, approved, size/XS, env/GCP, area/apps

#1240 feat(apps/prod/tekton/configs): add task in GA release flow to create github releases
  apps/prod/tekton/configs/pipelines/pingcap-release-ga.yaml
  apps/prod/tekton/configs/tasks/release/pingcap-create-github-releases.yaml
Labels: approved, size/M, env/prod, area/apps

#1241 feat(apps/prod/coder): add experiment
  apps/prod/coder/kustomization.yaml
  apps/prod/coder/release.yaml
  apps/prod/coder/release/kustomization.yaml
  apps/prod/coder/release/namespace.yaml
  apps/prod/coder/release/release.yaml
  apps/prod/coder/release/source.yaml
  apps/prod/kustomization.yaml
Labels: approved, size/L, env/prod, area/apps
