Repository PingCAP-QE/ee-ops, pull requests merged in 2024-04, with the labels that each got.

#1082 tests(apps/prod/tekton/configs/triggers/templates): reserve timeout for finally task
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
Labels: approved, size/XS, env/prod, area/apps

#1083 chore: update prow OWNERS files
  .ci/OWNERS
  OWNERS
  apps/OWNERS
  apps/prod/OWNERS
  charts/OWNERS
  clusters/OWNERS
  infrastructure/OWNERS
Labels: approved, size/S, env/prod, area/charts, area/apps, area/infrastructure

#1084 feat(apps/prod/tekton/configs/tasks): add release ops tasks
  apps/prod/tekton/configs/tasks/release/create-pr-to-add-release-anchor-commit.yaml
  apps/prod/tekton/configs/tasks/release/create-pr-to-bump-tikv-version.yaml
Labels: lgtm, approved, size/L, env/prod, area/apps

#1085 fix(apps/prod/tekton/configs): upgrade deno image to support run on arm64 nodes
  apps/prod/tekton/configs/tasks/hotfix/create-pr-to-sync-owners.yaml
  apps/prod/tekton/configs/tasks/pingcap-deliver-image.yaml
  apps/prod/tekton/configs/triggers/templates/_/image-push.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/sync-owners-for-hotfix-branch.yaml
Labels: approved, size/S, env/prod, area/apps

#1088 chore(apps/prod/jenkins/pre): increase OBC size for `ci-pipeline-cache`
  apps/prod/jenkins/pre/cronjobs.yaml
  apps/prod/jenkins/pre/obc/obc.yaml
  apps/staging/jenkins/pre/obc/cronjobs.yaml
Labels: approved, size/S, env/prod, env/staging, area/apps

#1089 chore(apps/prod/boskos): delete the slow darwin runner
  apps/prod/boskos/boskos-resources.yaml
Labels: approved, size/S, env/prod, area/apps

#1090 update tekton-resource-pruner.yaml
  apps/prod/tekton/setup/cronjobs/tekton-resource-pruner.yaml
Labels: approved, size/XS, env/prod, area/apps

#1092 Revert "config(apps/prow): update prow statusreconciler"
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1093 config(apps/prow): update prow statusreconciler
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1094 Revert "config(apps/prow): update prow statusreconciler"
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1095 chore(charts/prow): update the probles
  charts/prow/Chart.yaml
  charts/prow/templates/components/deck/deployment.yaml
  charts/prow/templates/components/hook/deployment.yaml
  charts/prow/templates/components/tide/deployment.yaml
Labels: approved, size/M, area/charts

#1096 Update prow release.yaml
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1097 config(apps/prow): update prow statusreconciler"
  apps/gcp/prow/release/release.yaml
Labels: lgtm, approved, size/XS, env/GCP, area/apps

#1098 fix(apps/prod/tekton/configs/tasks): fix task `pingcap-get-set-release-version`
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version.yaml
Labels: approved, size/XS, env/prod, area/apps

#1099 Update release.yaml
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1100 opt(apps/prod/git-cdn): tuning server config to save more bandwidth
  apps/prod/git-cdn/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1103 fix(apps/prod/tekton): merge Kustomization `tekton-results-setup` into `tekton-setup`
  apps/prod/tekton/setup.yaml
  apps/prod/tekton/setup/triggers/interceptors.yaml
  apps/prod/tekton/setup/triggers/release.yaml
Labels: approved, size/L, env/prod, area/apps

#1104 Revert "fix(apps/prod/tekton): merge Kustomization `tekton-results-setup` into `tekton-setup`"
  apps/prod/tekton/setup.yaml
  apps/prod/tekton/setup/triggers/interceptors.yaml
  apps/prod/tekton/setup/triggers/release.yaml
Labels: approved, size/L, env/prod, area/apps

#1105 fix(apps/prod/tekton): merge Kustomization `tekton-results-setup` into `tekton-setup`
  apps/prod/tekton/setup.yaml
  apps/prod/tekton/setup/triggers/interceptors.yaml
  apps/prod/tekton/setup/triggers/release.yaml
Labels: approved, size/L, env/prod, area/apps

#1106 Update release.yaml
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1108 Update release.yaml
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1109 feat(apps/prod/tekton/configs/triggers/templates): add more annotations for recording
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component-single-platform.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component.yaml
Labels: approved, size/M, env/prod, area/apps

#1111 opt(apps/prod/tekton/configs/tasks): add env var `NPM_CONFIG_REGISTRY` to fast fetch npm packages
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
Labels: approved, size/XS, env/prod, area/apps

#1112 feat(apps/prod/tekton/configs/triggers): add triggers to bump placeholder version
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/_/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/_/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/git-create-tag.yaml
Labels: approved, size/L, env/prod, area/apps

#1113 feat(apps/prod/tekton/configs/triggers): auto sync content to ks3 bucket
  apps/prod/tekton/configs/tasks/pingcap-deliver-image.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
  apps/prod/tekton/configs/triggers/triggers/PingCAP-QE/artifacts/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
Labels: approved, size/M, env/prod, area/apps

#1114 chore(pingcap-inc/tiflash-scripts): stick `lgtm` when new commit pushed
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1115 fix(apps/prod/tekton/configs/triggers): fix trigger `git-push-pingcap-qe-artifacts`
  apps/prod/tekton/configs/triggers/triggers/PingCAP-QE/artifacts/git-push.yaml
Labels: approved, size/XS, env/prod, area/apps

#1126 Update release.yaml
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1127 fix(apps/prod/tekton/configs/tasks): fix task `publish-tiup-from-oci-artifact`
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
Labels: approved, size/XS, env/prod, area/apps

#1129 fix(apps/prod/tekton/configs/tasks): fix tiup command
  apps/prod/tekton/configs/tasks/pingcap-compose-offline-pkgs.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
Labels: approved, size/XS, env/prod, area/apps

#1130 feat(apps/prod/tekton/configs/triggers): support build with pr
  apps/prod/tekton/configs/triggers/bindings/github-pr.yaml
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-tibuild.yaml
  apps/prod/tekton/configs/triggers/tests/dev-build.http
  apps/prod/tekton/configs/triggers/tests/test-github-events.ts
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
Labels: approved, size/L, env/prod, area/apps
