Repository PingCAP-QE/ee-ops, pull requests merged in 2024-12, with the labels that each got.

#1354 Revert "chore(prod/jenkins): add secret for ks3util config"
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: size/XS, env/prod, area/apps

#1355 chore(prod/jenkins): add secret for ks3util config
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1356 chore(prod/jenkins): debug jenkins start oom
  apps/prod/jenkins/release/values-controller.yaml
Labels: size/XS, env/prod, area/apps

#1357 chore(prod/jenkins): adjust jvm xmx to 16g
  apps/prod/jenkins/release/values-controller.yaml
Labels: size/XS, env/prod, area/apps

#1358 debug(prod/jenkins): comment cloudevents
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: env/prod, area/apps

#1359 fix(prod/jenkins-beta): read file credentials
  apps/prod/jenkins-beta/release/values-JCasC.yaml
Labels: env/prod, area/apps

#1360 fix(prod/jenkins): correct read file credentials
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: env/prod, area/apps

#1365 chore(deps): bump publisher image tag to v2024.11.4-16-g8c2a836
  apps/prod/publisher/release-prod-mirror.yaml
  apps/prod/publisher/release-staging-mirror.yaml
  apps/prod/tekton/configs/tasks/publish-fileserver-from-oci-artifact.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact-v2.yaml
Labels: approved, size/XS, env/prod, area/apps

#1366 chore(deps): bump coder to 2.18.0
  apps/prod/coder/release/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1367 feat(apps/prod/tekton/configs/triggers): add github-pr-labeled-with-lgtm trigger
  apps/prod/tekton/configs/triggers/triggers/_/github-pr-labeled-with-lgtm.yaml
  apps/prod/tekton/configs/triggers/triggers/_/github-pr-labeled-with-needs-ok-to-test.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
Labels: approved, size/M, env/prod, area/apps

#1372 feat(apps/prod/tekton/configs): switch to new darwin build pipeline in trigger templates
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
Labels: approved, size/S, env/prod, area/apps

#1373 feat(apps/prod/tekton/configs): switch to new darwin build pipeline in trigger templates
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin-v2.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
Labels: approved, size/M, env/prod, area/apps

#1374 fix(apps/prod/tekton/configs/tasks): update image tag of crane
  apps/prod/tekton/configs/tasks/pingcap-deliver-image.yaml
Labels: approved, size/XS, env/prod, area/apps

#1378 fix(apps/prod/tekton/configs/tasks): revert rustup mirrors
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin-v2.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/triggers/tests/test-github-events.ts
Labels: approved, size/S, env/prod, area/apps

#1379 fix(clean-code-cache): correct read env from secret in cronjob
  apps/prod/jenkins/pre/cronjobs.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1381 chore(apps/prod): bump image ghcr.io/pingcap-qe/ee-apps/publisher version to v2024.12.12-2-g492a0b1
  apps/prod/publisher/release-prod-mirror.yaml
  apps/prod/publisher/release-staging-mirror.yaml
  apps/prod/tekton/configs/tasks/publish-fileserver-from-oci-artifact.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact-v2.yaml
Labels: approved, size/XS, env/prod, area/apps

#1383 fix(apps/gcp/prow/release): fix jenkins url link pr context
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1384 Revert "fix(apps/gcp/prow/release): fix jenkins url link pr context"
  apps/gcp/prow/release/release.yaml
Labels: size/XS, env/GCP, area/apps

#1385 chore(apps/gcp/prow/release): debug jenkins url link pr context with upstream version
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1386 fix(apps/prod/tekton/configs/triggers/triggers/_/fake-github): support for tidb-dashboard
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
Labels: approved, size/S, env/prod, area/apps

#1387 refactor(apps/prod/tekton/configs/pipelines): extract inner task spec to a separate tasks in ga relase pipeline
  apps/prod/tekton/configs/pipelines/pingcap-release-ga.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/release/tag-rc2ga-on-oci-artifacts.yaml
  apps/prod/tekton/configs/tasks/release/wait-delivery-images.yaml
  apps/prod/tekton/configs/tasks/release/wait-delivery-tiup.yaml
Labels: approved, size/L, env/prod, area/apps

#1388 fix(apps/prod/tekton/configs): fix task refs for pipeline `pingcap-release-ga`
  apps/prod/tekton/configs/pipelines/pingcap-release-ga.yaml
  apps/prod/tekton/configs/tasks/release/wait-delivery-images.yaml
Labels: approved, size/S, env/prod, area/apps

#1389 feat(apps/prod/tekton/configs): implement step to wait for image delivery
  apps/prod/tekton/configs/pipelines/pingcap-release-ga.yaml
  apps/prod/tekton/configs/tasks/release/wait-delivery-images.yaml
  apps/prod/tekton/configs/tasks/release/wait-delivery-tiup.yaml
Labels: approved, size/L, env/prod, area/apps

#1391 feat(apps/prod/tekton/configs/tasks/release): add task pingcap-create-github-alpha-tags
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/release/pingcap-create-github-alpha-tags.yaml
Labels: approved, size/S, env/prod, area/apps

#1393 feat(ticdc): add new cdc repo for owners file syncing
  apps/prod/tekton/configs/tasks/hotfix/create-pr-to-sync-owners.yaml
Labels: approved, size/XS, env/prod, area/apps

#1394 feat(pingcap/ticdc): add sticky lgtm for ticdc repo
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1395 feat(apps/prod/tekton/configs/tasks/release): add step to reset tiup rate limit after tag created
  apps/prod/tekton/configs/tasks/release/pingcap-create-github-alpha-tags.yaml
Labels: approved, size/XS, env/prod, area/apps

#1396 chore(apps/prod): bump publisher version to v2024.12.12-6-g069f4f2
  apps/prod/publisher/release-prod-mirror.yaml
  apps/prod/publisher/release-staging-mirror.yaml
  apps/prod/tekton/configs/pr_body.txt
  apps/prod/tekton/configs/tasks/publish-fileserver-from-oci-artifact.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact-v2.yaml
  apps/prod/tekton/configs/tasks/release/pingcap-create-github-alpha-tags.yaml
Labels: approved, size/S, env/prod, area/apps
