Repository PingCAP-QE/ee-ops, pull requests merged in 2024-02, with the labels that each got.

#952 feat(apps/pfod/tekton/configs/triggers): enable enterprise build for tidb on feature release branches
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
Labels: approved, size/S, env/prod, area/apps

#954 fix(apps/prod/tekton/configs/pipelines): add results for `pingcap-build-package-darwin`
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
Labels: approved, size/S, env/prod, area/apps

#956 refactor(apps/prod/tekton/configs/triggers): deliver image to external with same flow
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/pingcap-deliver-image.yaml
  apps/prod/tekton/configs/triggers/templates/_/image-push.yaml
  apps/prod/tekton/configs/triggers/templates/_/image-sync-to-dockerhub-nightly.yaml
  apps/prod/tekton/configs/triggers/templates/_/image-sync-to-gcr-latest.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-br.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-cdc.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-dm.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-dumpling.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-lightning.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-ng-monitoring.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-pd.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-tidb-binlog.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-tidb-monitor-initializer.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-tidb-server.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-tiflash.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-dockerhub-tikv.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-gcr-tiflow-engine.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-gcr-tiflow-operator.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor-tiproxy.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
Labels: approved, size/XXL, env/prod, area/apps

#957 feat(apps/prod/tekton/ingress): add internal ingress
  apps/prod/tekton/ingress/ingress-dashboard.yaml
  apps/prod/tekton/ingress/ingress-event-listener.yaml
Labels: approved, size/M, env/prod, area/apps

#958 refactor(apps/prod/tekton/triggers): migrate the harbor push trigger group into `internal` listener
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-internal.yaml
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-public.yaml
  apps/prod/tekton/configs/triggers/tests/dev-build.http
  apps/prod/tekton/configs/triggers/tests/harbor.http
Labels: approved, size/M, env/prod, area/apps

#959 fix(apps/prod/tekton/configs/triggers): fix triggers for image pushing
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#961 chore(apps/prod/tekton/configs/triggers): add trigger for release branches
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-tools/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow-operator/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-push.yaml
Labels: lgtm, approved, size/XL, env/prod, area/apps

#962 feat: add tidb-ctl trigger
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-ctl/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-ctl/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-ctl/test.http
Labels: lgtm, approved, size/L, env/prod, area/apps

#963 feat(apps/prod/cloudevents-server): bump image tag to `0f5542f`
  .github/renovate.json
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#965 feat: enable release-x.x image sync to qa repo
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#966 fix(apps/prod/tekton/configs/triggers): fix trigger for `ctl` building
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/_/ctl/harbor.http
Labels: approved, size/M, env/prod, area/apps

#967 feat(apps/prod/jenkins-beta): bump jenkins verison to 2.426.3-lts on jenkins-beta
  apps/prod/jenkins-beta/release/values-controller-plugins.yaml
  apps/prod/jenkins-beta/release/values-controller.yaml
Labels: lgtm, approved, size/M, env/prod, area/apps

#985 chore: lease timeout check to avoid too much restart
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#986 chore: upgrade tibuild
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#987 fix(apps/prod/tekton/configs/pipelines): checkout with to a folder and make branch checkout able
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
Labels: approved, size/S, env/prod, area/apps

#988 chore: update tibuild for github client
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS

#989 chore: upgrade tibuild
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#902 Update values-JCasC.yaml
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: lgtm, approved, size/M, env/prod, area/apps

#921 feat: add docs-cn token
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: approved, size/M, env/prod, area/apps

#991 feat(apps/prod/jenkins): bump jenkins lts version to 2.426.3
  apps/prod/jenkins/release/values-controller.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#993 Revert "feat: add docs-cn token"
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: env/prod, area/apps

#994 Revert "Update values-JCasC.yaml"
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: env/prod, area/apps

#997 fix: do not build for older release version
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-push.yaml
Labels: lgtm, approved, size/S, env/prod, area/apps

#990 feat(apps/prod/tekton/configs/tasks): add task `pingcap-get-external-git-refs`
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/pingcap-git-clone-ext.yaml
Labels: approved, size/XL, env/prod, area/apps

#996 feat(apps/prod/jenkins-beta): add some token on jenkins-beta for test
  apps/prod/jenkins-beta/release/values-JCasC.yaml
Labels: lgtm, approved, size/M, env/prod, area/apps

#998 feat(apps/prod/tekton/configs/triggers/pingcap/tidb): support trigger buildings with enterprise profile
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
Labels: approved, size/L, env/prod, area/apps

#999 feat(apps/prod/tekton/configs/tasks): fix task `multi-arch-image-collect`
  apps/prod/tekton/configs/tasks/multi-arch-image-collect.yaml
Labels: approved, size/XS, env/prod, area/apps

#1000 chore(apps/prod/cloudevents-server): bump image tag to `403acb5`
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1001 chore: update tibuild
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1002 chore: upgrade tibuild
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1003 feat(apps/prod/cloudevents-server): bump image tag to `v20240228-3-g051c1fd`
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1005 fix(pingcap/ctl): do not trigger builds for darwin platforms
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1006 chore: upgrade tibuild
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, env/prod, area/apps
