Repository PingCAP-QE/ee-ops, pull requests merged in 2024-03, with the labels that each got.

#1007 feat: use dockerhub through internal mirror
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1008 chores(apps/gcp/prow): bump image for hook
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1010 feat(apps/prod/tekton/configs/triggers): support trigger buildings with debug profile
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-push.yaml
Labels: approved, size/L, env/prod, area/apps

#1011 fix(apps/prod/tekton/configs): adjust profile param value from "debug" to "failpoint"
  apps/prod/tekton/configs/tasks/gen-build-binaries-scripts.yaml
  apps/prod/tekton/configs/tasks/gen-build-images-scripts.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
  apps/prod/tekton/configs/tasks/pingcap-get-builder-image.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-push.yaml
Labels: approved, size/M, env/prod, area/apps

#1012 fix(apps/prod/cloudevents-server): bump image tag to `v20240228-8-g6a29275`
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1014 Update boskos-resources.yaml
  apps/prod/boskos/boskos-resources.yaml
Labels: approved, size/S, env/prod, area/apps

#1015 Revert "Update boskos-resources.yaml"
  apps/prod/boskos/boskos-resources.yaml
Labels: approved, size/S, env/prod, area/apps

#1017 feat(apps/prod/tekton/configs/tasks): fix task `pingcap-git-clone-ext`
  apps/prod/tekton/configs/tasks/pingcap-git-clone-ext.yaml
Labels: approved, size/XS, env/prod, area/apps

#1016 refactor(apps/prod/tekton/configs/tasks): auto bump the patch version for branch checkout
  apps/prod/tekton/configs/tasks/pingcap-get-release-version.yaml
Labels: approved, size/S, env/prod, area/apps

#1018 Revert "refactor(apps/prod/tekton/configs/tasks): auto bump the patch version for branch checkout"
  apps/prod/tekton/configs/tasks/pingcap-get-release-version.yaml
Labels: approved, size/S, env/prod, area/apps

#1019 Revert "Revert "refactor(apps/prod/tekton/configs/tasks): auto bump the patch version for branch checkout""
  apps/prod/tekton/configs/tasks/pingcap-get-release-version.yaml
Labels: approved, size/S, env/prod, area/apps

#1020 opt(apps/prod/tekton/configs/tasks): set locale for darwin builder
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
Labels: approved, size/XS, env/prod, area/apps

#1021 opt(apps/prod/tekton/configs/tasks): update offline tiup pkg task
  apps/prod/tekton/configs/tasks/pingcap-compose-offline-pkgs.yaml
Labels: approved, size/M, env/prod, area/apps

#1024 chore(apps/prod/tekton/configs/tasks): update task `publish-tiup-from-oci-artifact`
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
Labels: approved, size/S, env/prod, area/apps

#1026 feat(apps/prod/tekton/configs/tasks): update task `pingcap-build-images`
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
Labels: approved, size/S, env/prod, area/apps

#1027 chore(apps/prod/tekton/configs/tasks): add debug output message
  apps/prod/tekton/configs/tasks/pingcap-get-release-version.yaml
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version.yaml
Labels: approved, size/S, env/prod, area/apps

#1028 fix(apps/prod/tekton/configs/tasks): fix task `pingcap-build-images`
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
Labels: approved, size/S, env/prod, area/apps

#1029 chore(apps/prod/tekton/configs/triggers): update trigger `multi-arch-image-push-on-harbor-branch-tags`
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1030 Update release.yaml
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1031 chore(apps/prod/tekton/configs/triggers): enable trigger for release-8.0 branch
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-push.yaml
Labels: lgtm, approved, size/M, env/prod, area/apps

#1033 fix(apps/prod/tekton/configs/tasks): fix task `pingcap-get-set-release-version`
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version.yaml
Labels: approved, size/S, env/prod, area/apps

#1036 opt(apps/prod/tekton/configs/triggers): split harbor from internal listener
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-internal.yaml
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-tibuild.yaml
  apps/prod/tekton/configs/triggers/event-listeners/kustomization.yaml
  apps/prod/tekton/configs/triggers/tests/dev-build.http
Labels: approved, size/L, env/prod, area/apps

#1037 fix(apps/prod/tekton/configs/triggers): fix trigger branches
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-tools/git-push.yaml
Labels: approved, size/S, env/prod, area/apps

#1038 fix(apps/prod/tekton/configs/triggers): fix version set
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version.yaml
Labels: approved, size/S, env/prod, area/apps

#1039 fix(apps/prod/tekton/configs/triggers): fix triggers
  apps/prod/tekton/configs/triggers/triggers/_/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/test.http
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-create-branch.yaml
Labels: approved, size/XXL, env/prod, area/apps

#1040 fix(apps/prod/dl): update ingress domain
  apps/prod/dl/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1041 fix(apps/prod/tekton/configs/tasks): add delete dirty tag step
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version.yaml
Labels: approved, size/XS, env/prod, area/apps

#1043 fix(apps/prod/tekton/configs/triggers): fix trigger for ctl
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: approved, size/M, env/prod, area/apps

#1044 Revert "fix(apps/prod/tekton/configs/triggers): fix trigger for ctl"
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: env/prod, area/apps

#1046 fix(apps/prod/tekton/configs/triggers): fix triggers for ctl release branches
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: approved, do-not-merge/hold, size/XS, env/prod, area/apps

#1049 Revert "Revert "fix(apps/prod/tekton/configs/triggers): fix trigger for ctl""
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: approved, size/M, env/prod, area/apps

#1050 fix(apps/prod/tekton/setup): update config map
  apps/prod/tekton/setup/pipeline/release.yaml
  apps/prod/tekton/setup/triggers/release.yaml
Labels: approved, size/S, env/prod, area/apps

#1051 fix(apps/prod/tekton/configs/triggers): fix trigger params for ctl pkg
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: approved, size/S, env/prod, area/apps

#1052 fix(apps/prod/tekton/configs/pipelines): use checkout result as commit sha to downstream tasks
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package.yaml
Labels: approved, size/XS, env/prod, area/apps

#1053 Revert "fix(apps/prod/tekton/configs/pipelines): use checkout result as commit sha to downstream tasks"
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package.yaml
Labels: approved, size/XS, env/prod, area/apps

#1055 fix(apps/prod/tekton/configs/tasks): retry pushing to OCI registry
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1056 fix(apps/prod/tekton/configs/triggers): add `profile` value into the pipeline run names
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component-single-platform.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component.yaml
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: approved, size/L, env/prod, area/apps

#1057 test(apps/prod/tekton/configs/triggers): add deno script to send github events
  apps/prod/tekton/configs/triggers/tests/test-github-events.ts
Labels: approved, size/L, env/prod, area/apps

#1058 test(apps/prod/tekton/setup): add prune cron job
  apps/prod/tekton/setup/cronjobs/kustomization.yaml
  apps/prod/tekton/setup/cronjobs/tekton-resource-pruner.yaml
  apps/prod/tekton/setup/kustomization.yaml
Labels: approved, size/M, env/prod, area/apps

#1059 test(apps/prod/tekton/configs/triggers): fix trigger name length issue
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1060 chore(apps/prod/tekton/configs/triggers): disable github tag create triggers
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
Labels: approved, size/S, env/prod, area/apps

#1061 test(apps/prod/tekton/setup/triggers): upgrade triggers component to v0.21.0
  apps/prod/tekton/setup/triggers/interceptors.yaml
  apps/prod/tekton/setup/triggers/release.yaml
Labels: approved, size/L, env/prod, area/apps

#1062 fix(apps/prod/tekton/setup/triggers): bump triggers to v0.22.0
  apps/prod/tekton/setup/triggers/interceptors.yaml
  apps/prod/tekton/setup/triggers/release.yaml
Labels: approved, size/L, env/prod, area/apps

#1063 fix(apps/prod/tekton/setup/triggers): bump triggers to v0.22.1
  apps/prod/tekton/setup/triggers/interceptors.yaml
  apps/prod/tekton/setup/triggers/release.yaml
Labels: approved, size/L, env/prod, area/apps

#1064 fix(apps/prod/tekton/setup/triggers): bump to v0.24.1
  apps/prod/tekton/setup/triggers/interceptors.yaml
  apps/prod/tekton/setup/triggers/release.yaml
Labels: approved, size/L, env/prod, area/apps

#1065 fix(apps/prod/tekton/setup/dashboard): bump to v0.29.2
  apps/prod/tekton/setup/dashboard/release.yaml
Labels: approved, size/M, env/prod, area/apps

#1066 fix(apps/prod/tekton/setup/dashboard): bump dashboard to v0.31.0
  apps/prod/tekton/setup/dashboard/release.yaml
Labels: approved, size/M, env/prod, area/apps

#1067 fix(apps/prod/tekton/configs/tasks): support GA for tiup pkgs
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
Labels: approved, size/S, env/prod, area/apps

#1069 refactor(apps/prod/tekton/configs/tasks): refactor the offline pkg task
  apps/prod/tekton/configs/tasks/pingcap-compose-offline-pkgs.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
Labels: approved, size/S, env/prod, area/apps

#1070 fix(apps/prod/tekton/configs/trigger): use the standard releasing repo as git url param
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1071 fix(apps/prod/tekton/configs/triggers): fix git tag triggers
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-ctl/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-tools/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-create-tag.yaml
Labels: approved, size/M, env/prod, area/apps

#1072 feat(apps/prod/cloudevents-server): bump image to `v20240228-17-g0345db4`
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1073 Revert "fix(apps/prod/tekton/configs/triggers): fix git tag triggers"
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-ctl/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-tools/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-create-tag.yaml
Labels: approved, size/M, env/prod, area/apps

#1074 Revert "Revert "fix(apps/prod/tekton/configs/triggers): fix git tag triggers""
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-ctl/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-tools/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-create-tag.yaml
Labels: size/M, env/prod, area/apps

#1075 fix(apps/prod/tekton/configs/triggers): fix git tag triggers
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/advanced-statefulset/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-ctl/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-tools/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-create-tag.yaml
Labels: approved, size/M, env/prod, area/apps

#1076 feat(apps/prod/tekton/configs/tasks): strict list multi arch images
  apps/prod/tekton/configs/tasks/multi-arch-image-collect.yaml
  apps/prod/tekton/configs/triggers/tests/test-github-events.ts
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
Labels: approved, size/M, env/prod, area/apps

#1077 fix(apps/prod/tekton/configs/tasks): increase mac resource acquire stability
  apps/prod/tekton/configs/tasks/boskos-acquire.yaml
Labels: approved, size/XS, env/prod, area/apps

#1078 feat(apps/prod/tekton/configs/pipelines): update pipeline `pingcap-release-ga`
  apps/prod/tekton/configs/pipelines/kustomization.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/pipelines/pingcap-release-ga.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/pingcap-upload-enterprise-plugins.yaml
  apps/prod/tekton/configs/tasks/pingcap-upload-offline-packages.yaml
Labels: approved, size/XL, env/prod, area/apps

#1079 feat(apps/prod/tekton/configs/tags): avoid uploading with the `*-pre-*` name
  apps/prod/tekton/configs/tasks/pingcap-upload-enterprise-plugins.yaml
  apps/prod/tekton/configs/tasks/pingcap-upload-offline-packages.yaml
Labels: approved, size/S, env/prod, area/apps

#1080 fix(apps/prod/tekton/configs): use RWO pvc to lock in tiup uploading
  apps/prod/tekton/configs/pvcs/kustomization.yaml
  apps/prod/tekton/configs/pvcs/tiup-locks.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
  apps/prod/tekton/configs/triggers/templates/_/push-oci-artifact-to-tiup.yaml
Labels: lgtm, approved, size/M, env/prod, area/apps

#1081 tests(apps/prod/tekton/configs/triggers): add trigger to deliver GA images
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps
