Repository PingCAP-QE/ee-ops, pull requests merged in 2024-11, with the labels that each got.

#1306 Update boskos-resources.yaml
  apps/prod/boskos/boskos-resources.yaml
Labels: approved, size/S, env/prod, area/apps

#1308 chore(deps): bump coder to 2.15.4
  apps/prod/coder/release/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1310 fix(apps/prod/tekton/configs/triggers/bindings): fix binding `github-pr`
  apps/prod/tekton/configs/triggers/bindings/github-pr.yaml
Labels: approved, size/XS, env/prod, area/apps

#1311 feat(prow-worker): add pvc for cargo-home cache
  apps/prod/prow-worker/pvc.yaml
Labels: lgtm, approved, size/S, env/prod, area/apps

#1312 chore(deps): bump docker image for tibuild to v2024.11.4-3-gcec492f
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1313 chore(apps/prod/tibuild): bump docker image tag to v2024.11.4-4-g31622fb
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1314 fix(apps/prod/tekton/configs/triggers): fix fake github triggers
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
Labels: approved, size/XS, env/prod, area/apps

#1315 fix(apps/prod/tekton/configs): fix pipeline and templates for custom builder image support
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
Labels: approved, size/S, env/prod, area/apps

#1317 chore(deps): bump docker image ghcr.io/pingcap-qe/ee-apps/cloudevents-server to v2024.11.4-6-g495e6f0
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1318 fix(pingcap/tidb-operator): increase timeout for build jobs
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-operator/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-operator/git-push.yaml
Labels: approved, size/XS, env/prod, area/apps

#1320 Revert "Update boskos-resources.yaml"
  apps/prod/boskos/boskos-resources.yaml
Labels: approved, size/S, env/prod, area/apps

#1319 feat(prod/jenkins): add cronjob to monitor s3 codecache size
  apps/prod/jenkins/pre/cronjobs.yaml
Labels: lgtm, approved, size/M, env/prod, area/apps

#1323 feat(apps/prod/tekton/configs): add ci helper triggers
  apps/prod/tekton/configs/tasks/ci/ci-helper-for-pr.yaml
  apps/prod/tekton/configs/triggers/triggers/_/github-pr-labeled.yaml
Labels: approved, size/XS, env/prod, area/apps

#1326 test: PR ci helper
  apps/prod/tekton/configs/triggers/triggers/_/github-pr-labeled.yaml
Labels: approved, size/XS, env/prod, area/apps

#1325 fix(apps/gcp/prow): reduce the frequent of scanning all PRs for `needs-rebase` plugin
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1302 feat(apps/prod/tekton/configs): add task and trigger to publish files to fileserver from oci artifact
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/publish-fileserver-from-oci-artifact.yaml
  apps/prod/tekton/configs/triggers/templates/_/push-oci-artifact-to-fileserver.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/_/harbor/artifact-push-on-harbor.yaml
Labels: approved, size/L, env/prod, area/apps

#1328 feat(apps/prod/tekton/configs/triggers): fix tiup and fs triggers
  apps/prod/tekton/configs/triggers/templates/_/push-oci-artifact-to-tiup.yaml
  apps/prod/tekton/configs/triggers/triggers/_/harbor/artifact-push-on-harbor.yaml
Labels: approved, size/M, env/prod, area/apps

#1321 opt(apps/gcp/prow/release): try to fastup tide update speed
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1329 Update publish-tiup-from-oci-artifact-v2.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact-v2.yaml
Labels: approved, size/XS, env/prod, area/apps

#1330 Update publish-fileserver-from-oci-artifact.yaml
  apps/prod/tekton/configs/tasks/publish-fileserver-from-oci-artifact.yaml
Labels: approved, size/XS, env/prod, area/apps

#1332 chore(deps): bump image ghcr.io/pingcap-qe/ee-apps/publisher to `v2024.11.4-10-g93bf843`
  apps/prod/publisher/release-prod-mirror.yaml
  apps/prod/publisher/release-staging-mirror.yaml
Labels: approved, size/XS, env/prod, area/apps

#1337 fix(apps/prod/cloudevents-server): bump cloudevents-server image version to `v2024.11.4-11-g58aa19e`
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1341 Revert "fix(apps/prod/cloudevents-server): bump cloudevents-server image version to `v2024.11.4-11-g58aa19e`"
  apps/prod/cloudevents-server/release.yaml
Labels: size/XS, env/prod, area/apps

#1340 feat(apps/prod/tekton/configs/tasks/release): add branch creating step
  apps/prod/tekton/configs/tasks/pingcap-deliver-image.yaml
  apps/prod/tekton/configs/tasks/release/pingcap-create-github-releases.yaml
Labels: approved, size/S, env/prod, area/apps

#1346 fix(jenkins/cronjob): update to remove the extra double quotation marks
  apps/prod/jenkins/pre/cronjobs.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1348 fix(apps/prod/tekton/configs/tasks): fix task multi-arch-image-collect for hotfix stories
  apps/prod/tekton/configs/tasks/multi-arch-image-collect.yaml
Labels: approved, size/S, env/prod, area/apps

#1347 chore(deps): bump coder to 2.16.1
  apps/prod/coder/release/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1343 Update release.yaml
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1349 fix(apps/prod/tekton/configs/triggers/tests): solve the api rate limit of GitHub
  apps/prod/tekton/configs/triggers/tests/test-github-events.ts
Labels: lgtm, approved, size/M, env/prod, area/apps

#1350 fix(apps/prod/jenkins-beta/release): bump jenkins version to 2.462.3
  apps/prod/jenkins-beta/release/values-controller.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1351 fix(apps/prod/jenkins): bump jenkins to v2.462.3
  apps/prod/jenkins/release/values-JCasC.yaml
  apps/prod/jenkins/release/values-controller-plugins.yaml
  apps/prod/jenkins/release/values-controller.yaml
Labels: lgtm, approved, size/M, env/prod, area/apps

#1334 update(apps/prod/tekton/configs): update the ci helper for pr
  apps/prod/tekton/configs/tasks/ci/ci-helper-for-pr.yaml
  apps/prod/tekton/configs/triggers/triggers/_/github-pr-labeled.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
Labels: approved, size/S, env/prod, area/apps

#1352 chore(prod/jenkins-beta): add a new file credential for ks3util
  apps/prod/jenkins-beta/release/values-JCasC.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps
