Repository PingCAP-QE/ee-ops, pull requests merged in 2024-01, with the labels that each got.

#913 fix(apps/prod/tekton/configs/tasks): not overwrite tiup nightly pkgs
  apps/prod/tekton/configs/tasks/aws-cli.yaml
  apps/prod/tekton/configs/tasks/ks3utils.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
  apps/prod/tekton/configs/triggers/triggers/_/git-push-on-trunk-branches.yaml
Labels: approved, size/L, env/prod, area/apps

#914 feat(apps/prod/tekton/configs): add cache save and restore tasks with ks3
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/restore-cache-with-ks3.yaml
  apps/prod/tekton/configs/tasks/save-cache-with-ks3.yaml
Labels: approved, size/L, env/prod, area/apps

#917 feat(apps/prod/tekton/configs/tasks): support cache for cargo home folder
  apps/prod/tekton/configs/0-namespace.yaml
  apps/prod/tekton/configs/kustomization.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package.yaml
  apps/prod/tekton/configs/pvcs/cargo-home.yaml
  apps/prod/tekton/configs/pvcs/kustomization.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
Labels: approved, size/M, env/prod, area/apps

#918 feat(apps/prod/boskos): add mac resources
  apps/prod/boskos/boskos-resources.yaml
Labels: approved, size/S, env/prod, area/apps

#920 feat(apps/prod/tekton/configs/triggers/bindings): fix `github-branch-create` binding
  apps/prod/tekton/configs/triggers/bindings/github-branch-create.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/sync-owners-for-hotfix-branch.yaml
Labels: approved, size/S, env/prod, area/apps

#923 fix(apps/prod/tekton/configs): rename task `add-image-major-tag` to `pingcap-auto-add-image-major-tag`
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/pingcap-auto-add-image-major-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#925 fix(apps/prod/tekton/tasks): fix steps for `create-pr-to-fix-gomod` task
  apps/prod/tekton/configs/tasks/hotfix/create-pr-to-fix-gomod.yaml
Labels: approved, size/XS, env/prod, area/apps

#926 fix(apps/prod/cloudevents-server): bump image tag to `8e81412`
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#928 fix(apps/prod/tekton/configs): speedup building for tikv
  apps/prod/tekton/configs/pipelines/pingcap-build-package.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap-qe/artifacts/branch-create-pingcap-qe-artifacts.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap-qe/artifacts/pull-pingcap-qe-artifacts.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap-qe/artifacts/push-pingcap-qe-artifacts.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap-qe/artifacts/tag-create-pingcap-qe-artifacts.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/advanced-statefulset/build.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/build.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflash/build.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tiflow/build.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/pd/build.yaml
  apps/prod/tekton/configs/triggers/templates/tikv/tikv/build.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-push.yaml
Labels: approved, size/XXL, env/prod, area/apps

#929 opt(apps/prod/tekton/configs/tasks): ignore error when scp
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
Labels: approved, size/XS, env/prod, area/apps

#930 fix(apps/prod/tekton/configs/tasks): fix task `multi-arch-image-collect`
  apps/prod/tekton/configs/tasks/multi-arch-image-collect.yaml
Labels: approved, size/XS, env/prod, area/apps

#931 feat(apps/prod/tekton/configs/triggers): add triggers for `tidb-binlog` and `tidb-tools`
  apps/prod/tekton/configs/triggers/tests/test.http
  apps/prod/tekton/configs/triggers/triggers/_/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-tools/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-tools/git-push.yaml
Labels: approved, size/L, env/prod, area/apps

#932 refactor(apps/prod/tekton/configs/pipelines): increase acquire timeout rather than retry again
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
Labels: approved, size/XS, env/prod, area/apps

#933 fix(deps): bump tiup tool to v1.14.1
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
  apps/prod/tekton/configs/triggers/templates/_/push-oci-artifact-to-tiup.yaml
  apps/prod/tekton/configs/triggers/tests/test.http
Labels: approved, size/M, env/prod, area/apps

#924 feat: add monitoring trigger
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-push.yaml
Labels: lgtm, approved, size/L, env/prod, area/apps

#934 feat: add ng-monitoring trigger
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ng-monitoring/git-push.yaml
Labels: lgtm, approved, size/L, env/prod, area/apps

#937 fix(apps/prod/tekton/configs/triggers): fix trigger for `monitoring` component
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-push.yaml
Labels: approved, size/XS, env/prod, area/apps

#938 Feature/offline pkg tasks
  apps/prod/tekton/configs/tasks/gen-build-binaries-scripts.yaml
  apps/prod/tekton/configs/tasks/gen-build-images-scripts.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/multi-arch-image-collect.yaml
  apps/prod/tekton/configs/tasks/pingcap-auto-add-image-major-tag.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-binaries.yaml
  apps/prod/tekton/configs/tasks/pingcap-build-images.yaml
  apps/prod/tekton/configs/tasks/pingcap-compose-offline-pkgs.yaml
  apps/prod/tekton/configs/tasks/pingcap-get-builder-image.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact.yaml
  apps/prod/tekton/configs/triggers/tests/test.http
Labels: approved, size/L, env/prod, area/apps

#939 fix(apps/prod/tekton/configs/tasks): fix task `multi-arch-image-collect`
  apps/prod/tekton/configs/tasks/multi-arch-image-collect.yaml
  apps/prod/tekton/configs/triggers/triggers/_/artifact-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#940 fix(apps/prod/tekton/setup): decrease keep size for pipelinerun and taskrun
  apps/prod/tekton/setup/operator-config.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#941 Revert "fix(apps/prod/tekton/configs/triggers): fix trigger for `monitoring` component (#936)"
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-push.yaml
Labels: approved, size/S, env/prod, area/apps

#943 fix(apps/prod/tekton/cofnigs/tasks): fix build step in mac machine
  apps/prod/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
Labels: approved, size/S, env/prod, area/apps

#944 fix(apps/prod/tekton/configs/tasks): fix task create-pr-to-fix-gomod-for-hotfix
  apps/prod/tekton/configs/tasks/hotfix/create-pr-to-fix-gomod.yaml
Labels: approved, size/S, env/prod, area/apps

#945 Update release.yaml
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#946 feat(pingcap/tiproxy): auto publish tiproxy image to dockerhub
  apps/prod/tekton/configs/rbac/kustomization.yaml
  apps/prod/tekton/configs/rbac/releaser.yaml
  apps/prod/tekton/configs/tasks/crane-copy.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/_/image-push-on-harbor-tiproxy.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
Labels: approved, size/M, env/prod, area/apps

#947 Update release.yaml
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#949 chore: deploy tidb image to use new enterprise-plugin branch for hotfix
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#950 feat: add tiflow-operator nightly trigger
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow-operator/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow-operator/fake-git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow-operator/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow-operator/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow-operator/test.http
Labels: lgtm, approved, size/L, env/prod, area/apps

#951 fix: tiflow-operator only for linux
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow-operator/fake-git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow-operator/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow-operator/git-push.yaml
Labels: lgtm, approved, size/S, env/prod, area/apps
