Repository PingCAP-QE/ee-ops, pull requests merged in 2025-04, with the labels that each got.

#1465 chore(apps/prod/tibuild): update tibuild image to v2025.4.8
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1469 feat(apps/prod/tekton/configs): add feature branch patterns to build triggers
  apps/prod/tekton/configs/triggers/triggers/pingcap/_/git-push-branch-build-community.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/_/git-push-branch-build-enterprise.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/_/git-push-branch-build-failpoint.yaml
Labels: approved, size/XS, env/prod, area/apps

#1470 chore(apps/prod/chatops-lark): bump image tag to v2025.4.8-2-gb009fdc
  apps/prod/chatops-lark/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1473 feat(prod2): add default SSL certificate to NGINX ingress controller
  infrastructure/prod2/nginx/release.yaml
Labels: approved, size/XS, area/infrastructure

#1474 chore(apps/prod): remove coder app
  apps/prod/coder/kustomization.yaml
  apps/prod/coder/release.yaml
  apps/prod/coder/release/kustomization.yaml
  apps/prod/coder/release/namespace.yaml
  apps/prod/coder/release/release.yaml
  apps/prod/coder/release/source.yaml
  apps/prod/kustomization.yaml
Labels: approved, size/L, env/prod, area/apps

#1475 feat(apps/prod2/coder): add GitHub OAuth authentication to Coder
  apps/prod2/coder/release.yaml
  apps/prod2/coder/release/secret.yaml
Labels: approved, size/S, area/apps

#1477 feat(tekton): add build support for tici component
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap-inc/tici/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap-inc/tici/git-push.yaml
Labels: approved, size/M, env/prod, area/apps

#1481 chore(apps/prod2/coder/release): bump to v2.21.0
  apps/prod2/coder/release/release.yaml
Labels: approved, size/XS, area/apps

#1483 fix(apps/prod/tekton): add macOS single platform devbuild support
  apps/prod/tekton/configs/triggers/templates/_/build-component-single-platform-darwin.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component-single-platform-linux.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create-single-platform.yaml
Labels: approved, size/L, env/prod, area/apps

#1485 chore(apps/prod/chatops-lark): update chatops-lark image to v2025.4.8-6-gfeef37f
  apps/prod/chatops-lark/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1487 feat(chatops-lark): update chatops lark image
  apps/prod/chatops-lark/release.yaml
Labels: lgtm, approved, size/XS

#1489 chore(apps/prod/tibuild): bump image to v2025.4.8-9-gd5e9871
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1490 feat(apps/prod/tekton/configs): support tidbcloud
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/tidbcloud/cloud-storage-engine/git-push-branch-build-enterprise.yaml
  apps/prod/tekton/configs/triggers/triggers/tidbcloud/tiflash-cse/git-push-branch-build-enterprise.yaml
Labels: approved, size/L, env/prod, area/apps

#1492 fix(apps/prod/tekton/configs/triggers): Update build profiles
  apps/prod/tekton/configs/pr_body.txt
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/tidbcloud/cloud-storage-engine/git-push-branch-build.yaml
  apps/prod/tekton/configs/triggers/triggers/tidbcloud/tiflash-cse/git-push-branch-build.yaml
Labels: approved, size/S, env/prod, area/apps

#1493 fix(apps/prod/tekton/configs/triggers): remove cloud-engine from ch build trigger
  apps/prod/tekton/configs/triggers/triggers/tidbcloud/cloud-storage-engine/git-push-branch-build.yaml
Labels: approved, size/XS, env/prod, area/apps

#1494 feat(apps/prod/tekton/configs/tasks): update task 'pingcap-get-set-release-version-v2'
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version-v2.yaml
Labels: approved, size/S, env/prod, area/apps
