Repository PingCAP-QE/ee-ops, pull requests merged in 2025-07, with the labels that each got.

#1566 chore(apps/prod/tekton/configs): trigger on release branches for tiproxy git push events
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiproxy/git-push.yaml
Labels: approved, size/XS, env/prod, area/apps

#1572 feat(apps/gcp): add github action runner set for selected repo in pingcap ORG
  apps/gcp/acr-runners/kustomization.yaml
  apps/gcp/acr-runners/release-2-runners-pingcap-qe.yaml
  apps/gcp/acr-runners/release-2-runners-pingcap.yaml
Labels: lgtm, approved, size/M, env/GCP, area/apps

#1573 Only push tagged operator image
  apps/prod/tekton/configs/triggers/triggers/_/harbor/image-push-on-harbor.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1576 fix(apps/gcp/tekton): update Tekton operator to v0.76.0 and revise configs
  apps/gcp/tekton/configs.yaml
  apps/gcp/tekton/setup.yaml
  apps/gcp/tekton/setup/kustomization.yaml
  apps/gcp/tekton/setup/operator-config.yaml
Labels: approved, size/M, env/GCP, area/apps

#1577 fix(apps/prod/tekton): switch Tekton images from gcr.io to ghcr.io registry
  apps/prod/tekton/configs/tasks/git-clone.yaml
  apps/prod/tekton/configs/tasks/pingcap-git-clone-ext-v2.yaml
  apps/prod/tekton/configs/tasks/pingcap-git-clone-ext.yaml
  apps/prod/tekton/setup/dashboard/release.yaml
  apps/prod/tekton/setup/pipeline/release.yaml
  apps/prod/tekton/setup/results/release_base.yaml
  apps/prod/tekton/setup/triggers/interceptors.yaml
  apps/prod/tekton/setup/triggers/release.yaml
Labels: approved, size/L, env/prod, area/apps

#1581 fix(apps/prod,apps/gcp): fix tekton image urls
  apps/gcp/tekton/configs/tasks/git-clone.yaml
  apps/prod/tekton/setup/cronjobs/tekton-resource-pruner.yaml
Labels: approved, size/XS, env/GCP, env/prod, area/apps

#1586 fix(apps/gcp/tekton): set enable-api-fields to alpha in Tekton operator config
  apps/gcp/tekton/setup/operator-config.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1587 fix(apps/gcp/tekton/configs): switch from workspace for auth to service account methods
  apps/gcp/tekton/configs/kustomization.yaml
  apps/gcp/tekton/configs/pipelines/kaniko-build.yaml
  apps/gcp/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/gcp/tekton/configs/pipelines/pingcap-build-package-linux.yaml
  apps/gcp/tekton/configs/rbac/github-bot.yaml
  apps/gcp/tekton/configs/rbac/kustomization.yaml
  apps/gcp/tekton/configs/rbac/releaser.yaml
  apps/gcp/tekton/configs/tasks/multi-arch-image-push.yaml
  apps/gcp/tekton/configs/tasks/pingcap-build-binaries-darwin.yaml
  apps/gcp/tekton/configs/tasks/pingcap-build-binaries-linux.yaml
  apps/gcp/tekton/configs/tasks/pingcap-build-images.yaml
  apps/gcp/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
  apps/gcp/tekton/configs/triggers/templates/_/build-component-single-platform.yaml
  apps/gcp/tekton/configs/triggers/templates/_/build-component.yaml
  infrastructure/prod2/openebs/test.yaml.example
Labels: approved, size/L, env/GCP, area/apps, area/infrastructure

#1588 fix(apps/gcp/tekton/configs): comment out unused volume and secret mounts in trigger templates
  apps/gcp/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
  apps/gcp/tekton/configs/triggers/templates/_/build-component-single-platform.yaml
  apps/gcp/tekton/configs/triggers/templates/_/build-component.yaml
  apps/gcp/tekton/configs/triggers/templates/tikv/tikv/bump-tikv-cargo-pkg-version.yaml
Labels: approved, size/L, env/GCP, area/apps

#1590 fix(apps/gcp/tekton/configs): add GAR credentials env var
  apps/gcp/tekton/configs/pipelines/kaniko-build.yaml
  apps/gcp/tekton/configs/tasks/pingcap-build-images.yaml
Labels: approved, size/S, env/GCP, area/apps

#1594 Revert "refactor(apps/prod, apps/gcp): update Tekton templates to use tasks timeout param"
  apps/gcp/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
  apps/gcp/tekton/configs/triggers/templates/_/build-component-single-platform.yaml
  apps/gcp/tekton/configs/triggers/templates/_/build-component.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component-single-platform.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component.yaml
  apps/prod/tekton/configs/triggers/templates/_/ctl/build-component-single-platform.yaml
Labels: approved, size/M, env/GCP, env/prod, area/apps

#1597 chore(apps/gcp/prow/release): bump hook and chatgpt images to `v20250728-3eb01d86a`
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps
