Repository PingCAP-QE/ee-ops, pull requests merged in 2025-02, with the labels that each got.

#1417 chore(apps/gcp/prow): bump external plugin version
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1418 feat(apps/prod/tekton/configs/triggers): add trigger for image pushing on pingcap_enterprise project
  apps/prod/tekton/configs/triggers/triggers/_/harbor/image-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1422 feat(apps/prod/tekton/configs/triggers): add building trigger for tiflash failpoint edition
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-push.yaml
Labels: approved, size/M, env/prod, area/apps

#1424 feat(apps/proc/devbuild): devbuild support newarch ticdc
  apps/prod/tibuild/deployment.yaml
Labels: lgtm, approved, size/XS, env/prod, area/apps

#1425 chore(apps/prod/tekton/configs/tasks): update output message
  apps/prod/tekton/configs/tasks/release/wait-delivery-images.yaml
Labels: approved, size/XS, env/prod, area/apps

#1426 fix(apps/prod/tibuild): bump image tag to `v2025.1.30-6-gffafe99`
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1427 feat(apps/prod): deploy chatops lark bot
  apps/prod/chatops-lark/kustomization.yaml
  apps/prod/chatops-lark/release.yaml
  apps/prod/kustomization.yaml
Labels: approved, size/M, env/prod, area/apps

#1428 chore(apps/prod/chatops-lark): bump chat release to 0.1.1
  apps/prod/chatops-lark/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1429 chore(apps/prod/chatops-lark): disable test
  apps/prod/chatops-lark/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1430 chore(apps/prod/chatops-lark): bump chart release with new image
  apps/prod/chatops-lark/release.yaml
Labels: approved, size/XS, env/prod, area/apps
