Repository PingCAP-QE/ee-ops, pull requests merged in 2025-06, with the labels that each got.

#1528 feat(apps/gcp): add CLA assistant Helm chart and GCP deployment manifests
  .github/workflows/charts_lint-test.yaml
  .github/workflows/charts_test-bazel-remote.yaml
  .github/workflows/charts_test-prow.yaml
  apps/gcp/cla-assistant/kustomization.yaml
  apps/gcp/cla-assistant/mongodb.yaml
  apps/gcp/cla-assistant/namespace.yaml
  apps/gcp/kustomization.yaml
  charts/cla-assistant/.helmignore
  charts/cla-assistant/Chart.yaml
  charts/cla-assistant/templates/NOTES.txt
  charts/cla-assistant/templates/_helpers.tpl
  charts/cla-assistant/templates/deployment.yaml
  charts/cla-assistant/templates/hpa.yaml
  charts/cla-assistant/templates/httproute.yaml
  charts/cla-assistant/templates/ingress.yaml
  charts/cla-assistant/templates/service.yaml
  charts/cla-assistant/templates/serviceaccount.yaml
  charts/cla-assistant/templates/tests/test-connection.yaml
  charts/cla-assistant/values.yaml
Labels: approved, size/XXL, env/GCP, area/charts, area/apps

#1534 fix(apps/gcp/prow): finish migrate for gateways into infra
  apps/gcp/gateways.yaml
  apps/gcp/gateways/gke-gateway.yaml
  apps/gcp/gateways/kustomization.yaml
  apps/gcp/kustomization.yaml
  apps/gcp/prow/release/http-routes.yaml
Labels: approved

#1535 fix(apps/gcp/cla-assistant): enable HTTP route and configure Gateway for CLA Assistant
  apps/gcp/cla-assistant/cla-release.yaml
Labels: approved, size/S, env/GCP, area/apps

#1536 chore(apps/prod/tekton/configs/triggers): expand branch patterns for tiflash next-gen target
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-push-branch-build.yaml
Labels: approved, size/XS, env/prod, area/apps

#1537 refactor(apps/prod/tekton/configs/pipelines): rename pre-version parameter to rc-version
  apps/prod/tekton/configs/pipelines/pingcap-release-ga.yaml
Labels: approved, size/XS, env/prod, area/apps

#1540 chore(apps/gcp/cla-assistant): switch CLA assistant from dev to production hostname
  apps/gcp/cla-assistant/cla-release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1539 fix(apps/prod/tekton/configs): update ldap hotfix logic in create-pr task
  apps/prod/tekton/configs/tasks/hotfix/create-pr-to-update-gomod-fix-ladp.yaml
Labels: lgtm, approved, size/M, env/prod, area/apps

#1542 feat(infrastructure/prod2): add OpenEBS disk pools and storage class
  infrastructure/prod2/openebs/diskpools.yaml
  infrastructure/prod2/openebs/kustomization.yaml
  infrastructure/prod2/openebs/release.yaml
  infrastructure/prod2/openebs/storageclass.yaml
Labels: approved, size/L, area/infrastructure

#1543 chore(apps/prod): update jenkins-gitee path to ./apps/prod/jenkins
  apps/prod/jenkins-pingkai.yaml
  apps/prod/kustomization.yaml
Labels: approved, size/XS, env/prod, area/apps

#1544 chore(apps/prod2): enable coder resource in prod2 kustomization
  apps/prod2/kustomization.yaml
Labels: approved, size/XS, area/apps

#1545 fix(apps/prod2/coder): fix resource order and quote secret length
  apps/prod2/coder/db/kustomization.yaml
  apps/prod2/coder/db/secret.yaml
Labels: approved, size/XS, area/apps

#1546 fix(apps/prod/tibuild): bump image tag to `v2025.6.8-1-g78867b3`
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1550 feature(apps/prod/tekton/configs/triggers): add devbuild namespace to Tekton event filters
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-internal.yaml
  apps/prod/tekton/configs/triggers/triggers/_/harbor/image-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1551 feat(triggers/fake-github): add overlays for pingcap/tidb-operator to all triggers (branch-push, tag-create, pr, single-platform)
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
Labels: approved, size/M, env/prod, area/apps

#1552 feat(triggers/fake-github): add overlays for ng-monitoring, tidb-binlog, and tidb-tools to all triggers
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
Labels: approved, size/XL, env/prod, area/apps

#1553 chore: bump tibuild image tag to v2025.6.22-1-g05782e8
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1554 fix(trigger): support pre-release tags with .pre suffix
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-create-tag.yaml
Labels: approved, size/XS, env/prod, area/apps

#1548 feat(charts/mcp-tool): add Helm chart for mcp-tool with SSE support
  charts/mcp-tool/.helmignore
  charts/mcp-tool/Chart.yaml
  charts/mcp-tool/README.md
  charts/mcp-tool/templates/NOTES.txt
  charts/mcp-tool/templates/_helpers.tpl
  charts/mcp-tool/templates/deployment.yaml
  charts/mcp-tool/templates/hpa.yaml
  charts/mcp-tool/templates/httproute.yaml
  charts/mcp-tool/templates/ingress.yaml
  charts/mcp-tool/templates/service.yaml
  charts/mcp-tool/templates/serviceaccount.yaml
  charts/mcp-tool/templates/tests/test-connection.yaml
  charts/mcp-tool/values.yaml
Labels: approved, size/XXL, area/charts

#1555 feat: add GitHub MCP tool server deployment
  apps/prod/chatops-lark/kustomization.yaml
  apps/prod/chatops-lark/release-mcp-tool-github.yaml
Labels: approved, size/M, env/prod, area/charts, area/apps

#1558 refactor(prod2): add NFS server deployment and migrate to CSI driver NFS
  infrastructure/prod2/nfs-pvc-provisioner/deployment.yaml
  infrastructure/prod2/nfs-pvc-provisioner/kustomization.yaml
  infrastructure/prod2/nfs-pvc-provisioner/pvc.yaml
  infrastructure/prod2/nfs-pvc-provisioner/release-csi-nfs.yaml
  infrastructure/prod2/nfs-pvc-provisioner/release.yaml
  infrastructure/prod2/nfs-pvc-provisioner/source-csi-nfs.yaml
  infrastructure/prod2/nfs-pvc-provisioner/svc.yaml
Labels: approved, size/L, area/infrastructure

#1561 refactor(apps/prod2): migrate Buildbarn deployment from Helm to Kustomize
  apps/prod2/buildbarn/README.md
  apps/prod2/buildbarn/bb-namespace.yaml
  apps/prod2/buildbarn/browser.yaml
  apps/prod2/buildbarn/config/browser.jsonnet
  apps/prod2/buildbarn/config/common.libsonnet
  apps/prod2/buildbarn/config/frontend.jsonnet
  apps/prod2/buildbarn/config/kustomization.yaml
  apps/prod2/buildbarn/config/runner-ubuntu22-04.jsonnet
  apps/prod2/buildbarn/config/scheduler.jsonnet
  apps/prod2/buildbarn/config/storage.jsonnet
  apps/prod2/buildbarn/config/worker-ubuntu22-04.jsonnet
  apps/prod2/buildbarn/frontend.yaml
  apps/prod2/buildbarn/kustomization.yaml
  apps/prod2/buildbarn/release.yaml
  apps/prod2/buildbarn/scheduler.yaml
  apps/prod2/buildbarn/storage.yaml
  apps/prod2/buildbarn/worker-ubuntu22-04.yaml
  charts/buildbarn/Chart.yaml
  charts/buildbarn/values.yaml
Labels: approved, size/XXL, area/charts, area/apps

#1562 fix(apps/prod/tekton/configs/): add full_name field to generated repository payload in trigger script
  apps/prod/tekton/configs/triggers/tests/test-github-events.ts
Labels: approved, size/XS, env/prod, area/apps

#1563 ci: add pre-commit configuration with basic hooks
  .pre-commit-config.yaml
Labels: approved, size/S
