Repository PingCAP-QE/ee-ops, pull requests merged in 2025-09, with the labels that each got.

#1629 opt(apps/prod/tekton/configs): remove the trigger for collecting multi-arch image for migrated items
  apps/prod/tekton/configs/tasks/build/pingcap-build-binaries-darwin.yaml
  apps/prod/tekton/configs/tasks/build/pingcap-build-binaries-linux.yaml
  apps/prod/tekton/configs/triggers/triggers/_/harbor/image-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1630 chore(deps): update Tide and Hook images tag to `v20250903-f07f5145d`
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1486 config(prod/jenkins): add two credentials for docs-cn
  apps/prod/jenkins/release/values-JCasC.yaml
Labels: lgtm, approved, size/S, env/prod, area/apps

#1638 fix(apps/gcp/prow): update prow-controller-manager image to v20250905-a0cfed255
  apps/gcp/prow/release/release.yaml
Labels: lgtm, approved, size/XS, env/GCP, area/apps

#1639 chore: update Prow hook image tag to v20250905-a0cfed255
  apps/gcp/prow/release/release.yaml
Labels: lgtm, approved, size/XS, env/GCP, area/apps

#1645 fix(apps/prod/tekton/configs/triggers): update tag regex to support git describe format
  apps/prod/tekton/configs/triggers/triggers/_/harbor/image-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1648 feat(apps/gcp/tekton,apps/prod/tekton): add ticdc branch build triggers
  apps/gcp/tekton/configs/triggers/triggers/kustomization.yaml
  apps/gcp/tekton/configs/triggers/triggers/pingcap/ticdc/git-push-branch-build.yaml
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ticdc/git-push-branch-build.yaml
Labels: lgtm, approved, size/M, env/GCP, env/prod, area/apps

#1651 fix(apps/prod/tekton|triggers): expand image tag regex to match `v*.*.*-next-gen` tags
  apps/prod/tekton/configs/triggers/triggers/_/harbor/image-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1653 chore(apps/gcp/prow/release): update image tags for crier, sinker, deck, and status-reconciler to v20250905-a0cfed255
  apps/gcp/prow/release/release.yaml
Labels: lgtm, approved, size/S, env/GCP, area/apps

#1662 feat(cluster/prod2): update flux to v2.2.3
  clusters/prod2/flux-system/gotk-components.yaml
Labels: approved, size/XXL
