Repository PingCAP-QE/ee-ops, pull requests merged in 2025-05, with the labels that each got.

#1498 fix(apps/prod/tekton/configs/triggers): fix component mapping CEL expressions
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
Labels: approved, size/M, env/prod, area/apps

#1499 feat(apps/prod/tibuild): bump image to v2025.4.8-19-g2be9e34
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1501 chore(apps/prod): update chatops-lark and tibuild image versions
  apps/prod/chatops-lark/release.yaml
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1504 chore(apps/prod/chatops-lark): update release.yaml
  apps/prod/chatops-lark/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1505 fix(apps/prod): update Git source from Gitee to internal PingCAP repository
  apps/prod/jenkins-gitee.yaml
Labels: approved, size/S, env/prod, area/apps

#1503 feat(apps/prod/tekton): add task and trigger template for updating ladp crt/key in hotfix branches
  apps/prod/tekton/configs/tasks/hotfix/create-pr-to-fix-gomod.yaml
  apps/prod/tekton/configs/tasks/hotfix/create-pr-to-update-gomod-fix-ladp.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/templates/pingcap/tidb/update-gomod-fix-ladp-for-hotfix-branch.yaml
Labels: approved, size/XL, env/prod, area/apps

#1506 fix(apps/prod/tekton/configs/triggers): merge platform-specific build templates into single template
  apps/prod/tekton/configs/triggers/templates/_/build-component-single-platform.yaml
  apps/prod/tekton/configs/triggers/templates/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-branch-push-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-pr-single-platform.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create-single-platform.yaml
Labels: approved, size/S, env/prod, area/apps

#1507 chore(apps/prod/cloudevents-server): bump image tag to v2025.4.8-25-g3ca16d7
  apps/prod/cloudevents-server/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1508 fix(apps/prod/chatops-lark): bump image tag to v2025.4.8-26-gc793d80
  apps/prod/chatops-lark/release.yaml
Labels: approved, size/XS, env/prod, area/apps

#1509 fix(apps/gcp/prow): bump hook image tag to v20250515-3d7188248
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1510 chore(apps/gcp/prow): bump tide image tag to v20250516-ceae038a4
  apps/gcp/prow/release/release.yaml
Labels: approved, size/XS, env/GCP, area/apps

#1511 fix(apps/gcp/prow): bump image for hook to v20250519-ceae038a4
  apps/gcp/prow/release/release.yaml
Labels: lgtm, approved, size/XS, env/GCP, area/apps

#1513 feat(apps/prod/tibuild): bump image tag to v2025.4.8-27-gd38ba90
  apps/prod/tibuild/deployment.yaml
Labels: approved, size/XS, env/prod, area/apps

#1517 refactor(apps/gcp): promote gateways and HTTP routes from dev to production
  apps/gcp/gateways.yaml
  apps/gcp/gateways/gke-gateway.yaml
  apps/gcp/gateways/kustomization.yaml
  apps/gcp/kustomization.yaml
  apps/gcp/prow/release/http-routes.yaml
  apps/gcp/prow/release/kustomization.yaml
Labels: approved, size/S, env/GCP, area/apps

#1519 fix(apps/prod/tekton/configs/triggers): add filter to exclude old branch on renaming
  apps/prod/tekton/configs/triggers/event-listeners/event-listener-public.yaml
Labels: approved, size/XS, env/prod, area/apps

#1523 fix(apps/prod/tekton/configs/triggers/triggers/PingCAP-QE/artifacts): fix git archive download to save and unzip branch zip file
  apps/prod/tekton/configs/triggers/triggers/PingCAP-QE/artifacts/git-push.yaml
Labels: approved, size/XS, env/prod, area/apps

#1522 feat(apps/prod/tekton/configs/triggers): add and update triggers for next-gen branch builds
  apps/prod/tekton/configs/triggers/triggers/kustomization.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push-branch-build.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-push-branch-build.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-push-branch-build.yaml
Labels: approved, size/M, env/prod, area/apps

#1527 Update image-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/_/harbor/image-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps
