Repository PingCAP-QE/ee-ops, pull requests merged in 2025-03, with the labels that each got.

#1434 feat(apps/prod/tekton/configs/triggers): update trigger to match branches for v9.x series
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/_/fake-github/fake-github-tag-create.yaml
  apps/prod/tekton/configs/triggers/triggers/_/harbor/artifact-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/_/harbor/image-push-on-harbor.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/_/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/_/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/monitoring/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/ticdc/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-binlog/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflash/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/pingcap/tiflow/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/pd/git-push.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-create-branch.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-create-tag.yaml
  apps/prod/tekton/configs/triggers/triggers/tikv/tikv/git-push.yaml
Labels: approved, size/L, env/prod, area/apps

#1435 feat(apps/prod/tekton/configs/tasks): new version task for get and set release version
  apps/prod/tekton/configs/pipelines/kustomization.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package-linux-exp.yaml
  apps/prod/tekton/configs/tasks/kustomization.yaml
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version-v2.yaml
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version.yaml
  apps/prod/tekton/configs/tasks/pingcap-git-clone-ext-v2.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
Labels: approved, size/XXL, env/prod, area/apps

#1439 fix(apps/prod/tekton/configs/tasks): fix task pingcap-get-set-release-version-v2
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version-v2.yaml
Labels: approved, size/XS, env/prod, area/apps

#1440 chore(apps/prod/tekton/configs/pipelines): use pingcap-get-set-release-version-v2 in pipeline
  apps/prod/tekton/configs/pipelines/pingcap-build-package-darwin.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package-linux.yaml
  apps/prod/tekton/configs/tasks/pingcap-get-set-release-version-v2.yaml
Labels: approved, size/XS, env/prod, area/apps

#1441 feat(apps/prod/tekton/configs/tasks/release): update task to support new release strategy
  apps/prod/tekton/configs/tasks/release/create-pr-to-bump-tikv-version.yaml
Labels: approved, size/XS, env/prod, area/apps

#1442 fix(apps/prod/tekton/configs/triggers): fix overlays for ctl build triggers
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1443 fix(apps/prod/tekton/configs/triggers): fix for tidb-dashboard
  apps/prod/tekton/configs/triggers/triggers/pingcap/tidb-dashboard/git-push.yaml
Labels: approved, size/XS, env/prod, area/apps

#1444 chore(apps/prod/tekton/configs): remove the experiment runs
  apps/prod/tekton/configs/pipelines/kustomization.yaml
  apps/prod/tekton/configs/pipelines/pingcap-build-package-linux-exp.yaml
  apps/prod/tekton/configs/triggers/templates/_/build-component-all-platforms.yaml
Labels: approved, size/L, env/prod, area/apps

#1446 refactor(apps/prod/tekton/configs/triggers): simplify artifact tag parsing in Harbor triggers for ctl pkg
  apps/prod/tekton/configs/triggers/triggers/_/ctl/artifact-push-on-harbor.yaml
Labels: approved, size/S, env/prod, area/apps

#1447 fix(apps/prod/tekton/configs/triggers): update tag regex to support `.pre` suffix pattern
  apps/prod/tekton/configs/triggers/triggers/_/harbor/image-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1451 docs(apps/prod/boskos): fix current installation links
  apps/prod/boskos/README.md
Labels: ok-to-test, lgtm, approved, size/XS, env/prod, area/apps

#1453 feat(cluster/prod2): add OpenEBS
  clusters/prod2/infrastructure.yaml
  infrastructure/prod2/kustomization.yaml
  infrastructure/prod2/openebs/kustomization.yaml
  infrastructure/prod2/openebs/namespace.yaml
  infrastructure/prod2/openebs/release.yaml
  infrastructure/prod2/openebs/source.yaml
Labels: approved, size/M, area/infrastructure

#1454 feat(infrastructure/prod2): enable OpenEBS LVM and ZFS storage engines
  infrastructure/prod2/openebs/release.yaml
Labels: approved, size/S, area/infrastructure

#1458 refactor(apps/prod/tekton/configs/pipelines): add pre-version parameter to pingcap-release-ga pipeline
  apps/prod/tekton/configs/pipelines/pingcap-release-ga.yaml
  apps/prod/tekton/configs/tasks/release/pingcap-create-github-releases.yaml
Labels: approved, size/S, env/prod, area/apps

#1459 chore(apps/prod/tekton/configs/triggers): add support for beta tags in Harbor trigger pattern
  apps/prod/tekton/configs/triggers/triggers/_/harbor/artifact-push-on-harbor.yaml
Labels: approved, size/XS, env/prod, area/apps

#1461 chore(apps/prod/publisher): bump publisher image to v2025.1.30-22-g04a67a4
  apps/prod/publisher/release-prod-mirror.yaml
  apps/prod/publisher/release-staging-mirror.yaml
  apps/prod/tekton/configs/tasks/publish-fileserver-from-oci-artifact.yaml
  apps/prod/tekton/configs/tasks/publish-tiup-from-oci-artifact-v2.yaml
  apps/prod/tekton/configs/tasks/release/pingcap-create-github-alpha-tags.yaml
Labels: approved, size/S, env/prod, area/apps

#1462 fix(apps/prod/tekton/configs/tasks): fix task `pingcap-upload-enterprise-plugins`
  apps/prod/tekton/configs/tasks/pingcap-upload-enterprise-plugins.yaml
Labels: approved, size/XS, env/prod, area/apps
